
body {
  color: white;
font-family: Helvetica;
text-align: center;
background-color: black;

}
.body {

}
.container {
width: 960px;
margin: 0 auto;
}

header .container {
  display: flex;
align-items: center;
padding: 12px 0 12px 0.5em;
}

}
header {
  height: 6rem;
  display: inline-flex;
  width: 100%;
    background-color: black;
    align-items:center;
    justify-content: center;
}
header span {
  display: inline-block;
  padding-right: 40rem;
}
.arrival {
  height: 22rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
background-size: cover;
display: flex;
align-items: center;
  justify-content: center;
  }
  .arrivalcontent {
display: inline-block;
background-color: black;
position: relative;
bottom: 4.25rem;
right: 19rem;
border-bottom-style: solid;
padding-bottom: 1.6rem;
padding-top: 1.6rem;
flex-basis: 25rem;
text-align:left;
padding-right: 1.5rem;
  }
.arrivalcontent p {
  padding-bottom: 2rem;
    padding-left: 2rem;
}
.arrivalcontent h2 {
  font-size: 2rem;
  padding-left: 2rem;
}
.menu {
  display: flex;
  background-color: red;
  height: 2.5rem;
  align-items: center;
}
.menu .container {
  justify-content: space-between;
  display: flex;
}
